.App {
  margin: 0 auto;
  padding: 30px;
  font-family: "Poppins", sans-serif;
  width: 60%;
}

@media screen and (max-width: 768px) {
  .App {
    width: 100%;
  }
}

.App footer {
  margin-top: 15px;
}
